.navbar{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

  .maintitle{
    color: pink;
    width: 50%;
    margin: 0;
    /* margin-left: 1%; */
  }

    .title{
      font-size: 3vw;
    }

    .subTitle{
      font-size: 1.5vw;
    }

  .links{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }

  .link{
    padding-left: 0.8rem;
    /* margin: 25%; */
    font-size: 2.3vw;
    text-decoration: none;
    color: white;
  }

  .l1{

  }

  .l2{

  }

  .l3{

  }

  .link, .last{

  }

  ul{
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li{
    list-style-type: none;
    display: block;  
  }

  .link:hover{
    color: pink;
  }